sqlalchemy
psycopg2-binary
tqdm
matplotlib
seaborn
plotly
missingno
scipy
pyarrow
scikit-learn
xgboost
lightgbm
joblib
tabulate
streamlit
streamlit-autorefresh
pandas
numpy
fastapi
uvicorn[standard]
redis
slowapi
requests
pydantic
